:root {
    --color-1: #242F9B;
    --color-2: #646FD4;
    --color-3: #9BA3EB;
    --color-4: #DBDFFD;

    --max-width: 1000px;
}

body {
    background-color: var(--color-4);
    font-family:'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    max-width: 96%;
    margin: 0 auto;
    margin-top: 60px;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 1rem;
    margin-bottom: .4rem;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: large;
    font-weight: bold;
}

/* Make navigation links always appear the same color even when clicked */
a {
    color: var(--color-3);
}

a:visited {
    color: var(--color-3);
}

/* Give nav links a hover color */
a:hover {
    color: var(--color-4);
}

nav ul {
    padding-top: 8px;
    padding-bottom: 8px;

    display: flex;
}

nav li {
    display: inline;
    color: var(--color-2);
    font-weight: bolder;
    margin: 10px;
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Stick the header to the top and put it above others with the z-index */
.page-header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-1);
    z-index: 1;
}

/* CSS padding for the whole section */
.about-me {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

/* Flexbox for positioning the elements */
.about-me-flexbox {
    max-width: var(--max-width);
    flex-flow: column;
    flex-wrap: wrap;
}

.bio-text {
    max-width: 60%;
    text-align: center;
    font-size: large;
}

.headshot-image {
    border-radius: 28%;
}

/* CSS for the projects section of the page */
/* Make a flex box for the header and the actual content */
.projects-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
}

/* Right align the header and make it only 10% */
.projects-header {
    margin-right: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    flex: 0 0 10%;
    margin-top: .5rem;
}

.projects-main {
    background-color: var(--color-3);
    flex-wrap: wrap;
}

/* Start at 40% and also let other elements be placed absolutely or relative to it */
.project-pane {
    /* width: 50%; */
    flex: 1 1 40%;
    position: relative;

    display: flex;
    justify-content: center;
}

.featured-project {
    flex-basis: 100%;
}

.project-pane a {
    margin: 1rem;
}

/* Default to low opacity */
.project-pane img {
    opacity: 0.4;
    max-width: 100%;
}

.project-pane:hover img{
    opacity: 1;
}

/* Float the title "above" the project and a little bit into it via the absolute positioning */
.project-title {
    position: absolute;
    bottom: 3rem;
    left: .8rem;
    background-color: var(--color-2);
    padding: 2%;
    box-shadow: 2px 4px 3px black;
    font-weight: bolder;
}

/* Section for the contact links at the bottom of the page */
.contact-me-flexbox {
    flex-flow: column;
    margin-top: 1.0rem;
}

.contact-me {
    padding: .5rem;
}

.social-links {
    flex-wrap: wrap;
}

.social-icon {
    height: 40px;
    margin: 15px;
}

/* Misc classes for reused mix-in functionality */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-target {
    scroll-margin-top: 3.3rem;
}

/* Adjustments for mobile screens. Generally making things larger */
@media screen and (max-width: 992px) {
    a {
        font-size: xx-large;
    }

    .bio-text {
        max-width: 95%;
        font-size: xx-large;
    }
    
    .projects-flexbox {
        flex-flow: column;
    }

    .projects-header {
        justify-content: center;
        width: 100%;
        border-bottom: 2px solid var(--color-1);
        margin-bottom: .5rem;
    }
    
    .projects-header h2 {
        margin-bottom: .25rem;
    }

    .project-title {
        font-size: xx-large;
    }

    .contact-blurb {
        font-size: xx-large;
    }
}

/* Adjustment for VERY narrow screens to make the navigation look better */
@media screen and (max-width: 576px) {
    nav ul {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }

    nav li {
        flex: 1 1 30%;
        text-align: center;
    }
}
