:root {
    --color-1: #283044;
    --color-2: #78a1bb;
    --color-3: #ebf5ee;
    --color-4: #bfa89e;
    --color-5: #8b786d;

    --max-width: 1000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-3);
    font-family:'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin-top: 60px;
}

.page-header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-2);
}

nav ul {
    padding-top: 8px;
    padding-bottom: 8px;
}

nav li {
    display: inline;
    color: var(--color-5);
    font-weight: bolder;
    margin: 20px;
}

#about-me {
}

#about-me-box {
    max-width: var(--max-width);
    flex-flow: column;
    flex-wrap: wrap;
}

#about-me p {
    /* display: inline; */
}

.headshot-image {

}

#projects {
}

#projects-header {

}

#projects-flexbox {
    background-color: var(--color-2);
    max-width: var(--max-width);
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#projects-main {
    flex-wrap: wrap;
}

.project-pane {
    width: 50%;
}

#primary-project {
    width: 100%;
}

#contact-me-flexbox {
    flex-flow: column;
}

.social-links {
    flex-wrap: wrap;
}

.social-icon {
    height: 40px;
    margin: 15px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
